<p>Sign up</p>

<form ua-signup>
    <div class="form-group">
          <input name="first_name" class="form-control" placeholder="First name"><br>
          <input name="login" class="form-control" placeholder="Email" ua-is-email><br>
          <input name="password" class="form-control" placeholder="Password" type="password"><br>
    </div>
  <button type="submit" class="btn btn-lg btn-success">Create Account</button>
  
  <p ng-show="error">{{ error.message }}</p>
</form>

<a href="#/login" class="btn btn-default">Log in</a>