<!-- Playground.html - where I play around with things -->
<h1>Playground</h1>
<h5>Imagine. Tinker. Learn </h5>
<hr />
<div class="col-xs-12 col-md-6">
    <button ng-click="newItem()">Add item</button>
    <ul ng-repeat="item in items" class="my-repeat-animation">    
      <li ng-dblclick="startEditing(item);">
          <span ng-hide="item.editing">{{item.name}} - {{item.likes}}</span>
          <form ng-submit="doneEditing(item)" ng-show="item.editing">
              <input ng-model="item.name" ng-blur="doneEditing(item)" ng-focus="item == editedItem">
          </form>
          <button ng-click="like(item)">Like!</button>
      </li>
    </ul>
</div>
<div class="col-xs-12 col-md-6">
<input type="text" ng-model="searchTerm" placeholder="Search iTunes">
        <a href="" ng-click="searchItunes(searchTerm)">Search</a>
        <br />
        <input type="text" ng-model="search" placeholder="Search Results">
         &lt;pre&gt;{{sortExpression}}&lt;/pre&gt;
        <table class="table">
    <thead>
        <tr>
            <th><a href="" ng-click="setSortExpression('artistName')" >Artist Name</a></th>
            <th><a href="" ng-click="setSortExpression('trackName')">Track</a></th>
            <th><a href="" ng-click="setSortExpression('primaryGenreName')">Genre</a></th>
            <th><a href="" ng-click="setSortExpression('trackPrice')" >Price</a></th>
            <th>Preview</th>                       
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="r in result.results | filter:search | orderBy:sortExpression">
            <td>{{r.artistName}}</td>
            <td>{{r.trackName}}</td>
            <td>{{r.primaryGenreName}}</td>
            <td>{{r.trackPrice}}</td>
            <td><a href="{{r.previewUrl}}">Preview</a></td>
        </tr>
    </tbody>
</table>
</div>