<!-- Main homepage Profile -->
<div class="container">
<div id="top">
  <img class="img-responsive" alt="from http://upload.wikimedia.org/wikipedia/commons/7/79/Uptown_Houston.jpg"src="imgs/Uptown_Houston.jpg"/>
  <!-- -->
   <div class="row">
      <div class="col-md-10">
        <h1>I'm David Payne</h1>
        <p class="lead">Let's create something.</p>
      </div>
    </div>
</div>
<hr/>
<div>
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-1">
      <p>
       I am driven by a desire to have a positive, tangible, and sustainable impact on the world around me. </p>
      <p>
      I am very interested in emerging technologies, the public service sector, as well as the psychology of skill acquisition and performance. Those interests and goals have led me to work as an experience design researcher at Hewlett-Packard, volunteer with Habitat for Humanity and Engineers Without Borders, and lead multiple initiatives and organizations while at Rice University. I am currently in the Management Consulting Development Program at Accenture.
      </p>
      <p>
While not working, I am always trying to learn something new and occasionally decide to put my body through long-distance races.
      </p>
    </div>
      <div class="col-xs-12 col-md-6">
        <figure class="text-center">
          <img src="https://googledrive.com/host/0B9F5kpTpkKMUbzh6dVZoTDZMa1E/david_payne.jpg" alt="My profile pic" class="img-rounded" />
        </figure>
      </div>

  </div>
  
  <section id="portfolio">
  <div class="text-center bg-white-dark" >
      <h2>Portfolio</h2>
    <div class="fluid-container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <a href="http://mangopotluck.herokuapp.com" class="thumbnail">
          <img  src="https://googledrive.com/host/0B9F5kpTpkKMUbzh6dVZoTDZMa1E/mangopotluck.png"/>
          <div class="overlay">
            <h3>MangoPotluck</h3>
            <p>Plan your next event with less hassle.<br />The easy way to track what everyone is bringing to the potluck and see which of your friends are free-loaders. <br /> Created with Flask and SQL.
            </p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-6">
        <a href="https://github.com/davpayne/Udacity" class="thumbnail">
          <img  src="https://googledrive.com/host/0B9F5kpTpkKMUbzh6dVZoTDZMa1E/warehouseRobot.png"/>
          <div class="overlay">
            <h3>Warehouse Robot</h3>
            <p>Searches the space and plans a route to fetch packages. <br /> Created with Python. Part of Udacity AI for Robotics Course
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <a href="https://github.com/davpayne/Thinkful/tree/master/document_tagger/part3" class="thumbnail">
          <img  src="https://googledrive.com/host/0B9F5kpTpkKMUbzh6dVZoTDZMa1E/documentTagger.png"/>
          <div class="overlay">
            <h3>Document Tagger</h3>
            <p>Loops through bodies of text to extract word counts. <br /> Created with Python. Utilizes Regex.
            </p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-6">
        <a href="http://davpayne.github.io/profile/#/resume" class="thumbnail">
          <img  src="https://googledrive.com/host/0B9F5kpTpkKMUbzh6dVZoTDZMa1E/resume.png"/>
          <div class="overlay">
            <h3>Responsive Resume</h3>
            <p>Provides a responsive version of my resume with animations and a formatted print. <br /> Created with AngularJS and Twitter Bootstrap.
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <a href="http://davpayne.github.io/ang-order/#/" class="thumbnail">
          <img  src="https://googledrive.com/host/0B9F5kpTpkKMUbzh6dVZoTDZMa1E/villansupermarket.png"/>
          <div class="overlay">
            <h3>Supervillan Market</h3>
            <p>Lets would-be evil do-ers sign up and select merchandise. <br /> Created with Angular. Utilizes UserApp.
              <br /> You can sign up or use the sample credentials: <br />
              username: supervillan@evil.com <br />
              password: minime
            </p>
          </div>
        </a>
      </div>
    </div>
    
    </div>
    </div>
  </section>
  
  <section id="quotes">
      <div class="text-center">
        <h2>Favorite Quotes</h2>
        <div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="display('')">All</button>
                <button type="button" class="btn btn-success" ng-click="display('Top5')">Top 5 of the Moment</button>
                <button ng-repeat="quoteTag in quoteTags | orderBy:'label'" type="button" class="btn btn-default" ng-click="display(quoteTag.tag)">{{quoteTag.label}}</button>
            </div>
            <div class="space"></div>
            <ul class="list-group" ng-hide="quoteSearch==undefined">
                <li ng-repeat="quote in quotes | filter:{tags: quoteSearch} | orderBy:'author'" class="list-group-item">
                {{quote.text}}<br />
                <small>{{quote.author}}</small>
                </li>
            </ul>
            <br />
        </div>
      </div>
  </section>
<section id="contact">
      <div class="text-center bg-white-dark">
        <h2>Contact me</h2>
                    <p>
                I currently live in Houston, TX. If you have any questions or would just like to get in touch, please send an email. I'd love to hear from you. 
            </p>
            <a href="mailto:dpayne162@gmail.com?Subject=Hello%20David" target="_blank"><img class="icon" src="https://googledrive.com/host/0B9F5kpTpkKMUbzh6dVZoTDZMa1E/email.png"></a>
            <a href="https://github.com/davpayne" target="_blank"><img class="icon" src="https://googledrive.com/host/0B9F5kpTpkKMUbzh6dVZoTDZMa1E/github.png" /></a>
            <a href="http://www.linkedin.com/in/davpayne" target="_blank"><img class="icon" src="https://googledrive.com/host/0B9F5kpTpkKMUbzh6dVZoTDZMa1E/linkedin.png" /></a>
      </div>
</section>
      <div class="text-center">
        <p>I want to change the world and have a hell of a good time doing it. </p>
        <small>- Adapted from E.B. White</small>
      </div>
</div>