<div class="resume container">
<h1 class="text-center">David Payne's Resume</h1>
<p class="text-center hidden-print visible-lg visible-md"><a href="javascript:window.print()" class="btn btn-default">Print <span class="glyphicon glyphicon-print"></span></a></p>
<div class="row">
    <div class="hidden-print text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-model="resume" btn-radio="'Default'" ng-init="resume='Default'">Default</button>
            <button type="button" class="btn btn-default" ng-model="resume" btn-radio="'Developer/UX Researcher'">Developer/UX Researcher</button>
            <button type="button" class="btn btn-default" ng-model="resume" btn-radio="'Project Manager'">Project Manager</button>
            <button type="button" class="btn btn-default" ng-model="resume" btn-radio="'Teacher'">Teacher</button>
            <button type="button" class="btn btn-default" ng-model="resume" btn-radio="''">Show All</button>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="visible-print text-center"><hr />
        <p>Contact: dpayne162@gmail.com | Houston, TX 77005</p>
        <hr /></div>
        <p><strong>Summary:</strong> David is a Management Consulting Business Analyst at Accenture with experience facilitating change, manging projects, and improving the user-experience of products and services. He is a 2013 graduate of Rice University and former Experience Design Researcher at Hewlett-Packard. David is very interested in emerging technologies, the public service sector, as well as the psychology of skill acquisition and performance. </p>
    </div>
    <div id="skills" class="col-xs-12 col-md-6">
        <h3>Skills</h3>
<!--         <button type="button" ng-model="search" btn-radio="''" class="hidden-print">Show All</button>
        <button type="button" ng-model="search" btn-radio="'Functional'" class="hidden-print">Functional</button>
        <button type="button" ng-model="search" btn-radio="'Technical'" class="hidden-print">Technical</button>
        <p>Levels: <span ng-repeat="level in levels"> {{level}} </span></p> -->
        <table class="table">
            <thead>
                <tr>
                    <th>Skill</th>
                    <th>Level</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="skill in skills | filter:{type: search, resume: resume} | orderBy:'label'" ng-click="display(skill.label)" class="my-repeat-animation" >
                    <td>{{skill.label}}</td>
                    <td>{{skill.level}}</td>
                </tr>
            </tbody>
        </table>
        <h3>Awards and Honors</h3>
        <ul>
            <li ng-repeat="award in awards | filter:{resume: resume}">
                <h5><span class="title">{{award.title}}</span><span class="organization">, {{award.organization}}</span></h5>
                <h6>Awarded: {{award.date}}</h6>
                <p>{{award.summary}}</p></li>
            <li><h5>Publications</h5>
            <li>Acemyan, C. Z., Kortum, P., & Payne, D. (2013, September). Do Voters Really Fail to Detect Changes to Their Ballots? An Investigation of Ballot Type on Voter Error Detection. In Proceedings of the Human Factors and Ergonomics Society Annual Meeting (Vol. 57, No. 1, pp. 1405-1409). SAGE Publications.</li>
        </ul>
    </div>
    <div id="experience" class="col-xs-12 col-md-6">
        <h3>Experiences</h3>
        <button type="button" ng-click="display('')" class="hidden-print">Show All</button>
        <ul>
            <li ng-repeat="experienceCategory in experienceCategories" class="my-repeat-animation">
                <h4>{{experienceCategory}}</h4>
                <ul>
                    <li ng-repeat="experience in experiences | filter:{tags: skillLabel, category: experienceCategory, resume: resume}" class="my-repeat-animation">
                        <h5><span class="title">{{experience.title}}</span><span class="organization">, {{experience.organization}}</span></h5>
                        <h6>{{experience.start}} - {{experience.end}}</h6>
                        <p>{{experience.summary}}</p>
                        <ul class="bullets">
                            <li ng-repeat="bullet in experience.bullets"> {{bullet}}</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--<p ng-click="show = !show">Show</p>
    <div ng-show="show">
        <p>it works!</p>
    </div>-->
</div>
